.login {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-image: url(../../images/backgroundLogin.jpg);
    
    &__form{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgba(255, 255, 255, .15); 
        backdrop-filter: blur(5px);
        &__p{
          color: black;
            text-decoration: none;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
  }

.sectionLogin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title{
    font-size: 40px;
    margin-bottom: 20px;
    color: #fff;
  }
  &__p{
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &__logo{
    width: 400px;
    height: 200px;
    margin-bottom: 10px;
  }
}

  input[type="text"],
  input[type="password"] {
    height: 40px;
    width: 350px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 20px;
    border-radius: 10px;
  }
  
  .button {
    margin-top: 10px;
    width: 150px;
    cursor: pointer;
    font-size: 15px;
    background: #000000;
    border: 1px solid #000000;
    color: #fff;
    padding: 10px 20px;
    &:hover{
      background-color: rgb(255, 255, 59);
      color: #000000;
      border: 1px solid rgb(255, 255, 59);
    }
  }
  
  input[type="submit"]:hover {
    background: #000000;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }
