.main{
    height: 100%;
min-height: 100vh;
background-size: contain; 
    background-image: url(../../images/backgroundsRegister.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    &__section{
display: flex;
flex-direction: column;
align-items: center;

    &__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 500px;
        height: 450px;
        padding-top: 20px;
        border-radius: 20px;
        background-color: #191919;
        &__title{
            margin-top: 10px;
            margin-bottom: 30px;
            font-size: 25px;
            color: rgb(255, 255, 59);
        }
        &__p{
            color: #5a5a5a;
            text-decoration: none;
            margin-top: 10px;
        }
        &__span{
            color: rgb(255, 255, 59);
        }
    }

    }
   
    &__imageYoda{
        width: 300px;
        height: 300px;
        display: flex;
        align-self: flex-end;
        padding-block-start: 200px;
        margin-top: 115px;
        
    }
}

a:link, a:visited,  a:hover, a:active
{
    text-decoration: none;
}