$background: #191919;
$border:rgba(0, 0, 0, 0.2) ;
$border--bottom: rgba(0, 0, 0, 0.144); 
$background--list:rgba(54, 54, 54, 0.555) ;
$background--gray: #383838 ;
$detail--p: #5a5a5a; 
$detail--yellow: rgb(255, 255, 59);
$button--next: #E14D2A;
$detail--white: #fff;
$button--color: #066163;
$error: rgb(187, 94, 94);
$detail--element: black;